.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 50%);
  padding: 0 19px;
  width: 100%;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  margin-bottom: 0;
  position: relative;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 0;
  margin-bottom: 54px;
}

.modal__button {
  color: white;
  background-color: black;
  margin-top: 18px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.modal__input {
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  position: relative;
}

.modal__container_type_image {
  position: relative;
  background: transparent;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0;
  display: flex;
}

.modal__preview_image {
  object-fit: cover;
  max-width: 100%;
}

.modal__preview_caption {
  position: absolute;
  top: calc(100% + 10px);
}

.modal__error {
  font-size: 12px;
  color: red;
  line-height: 14px;
  margin-top: 5px;
  margin-bottom: 13px;
  width: 358px;
}

.modal__input_type_error {
  border-color: red;
}

.modal__button_disabled {
  opacity: 20%;
}

@media screen and (max-width: 620px) {
  .modal__container {
    padding: 25px;
    max-width: 238px;
    height: 322px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 0;
  }

  .modal__button {
    max-width: 238px;
    height: 46px;
    margin-top: 70px;
  }

  .modal__heading {
    margin-bottom: 76px;
    height: 22px;
    font-size: 18px;
  }

  .modal__close_type_preview {
    height: 30px;
    width: 30px;
  }

  .modal__input {
    max-width: 238px;
    padding-bottom: 9px;
  }

  .modal__error {
    max-width: 238px;
    position: absolute;
  }

  .modal__input_type_title {
    margin-bottom: 50px;
  }

  .modal__error_type_title {
    margin-top: 32px;
  }

  .modal__error_type_description {
    margin-top: 110px;
  }
}
